<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>index</title>
    <style>
       .login{
           color: blue;
           font-size: 14px;
       } 
    </style>
</head>
<body>
    <h3> 注：鉴于该页面为测试用例，只进行简单的功能实现，不进行页面设计 </h3>
    <a href="/login"> <span id='login'>登陆</span></a>
    <p> 用户是否登陆：@{status}</p>
    @{user_info}
</body>
</html>